<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2><img src="images/logo_vor.png"></h2>
        </header>
        <p><span class="larger">The new IoT<br/>office experience</span><br />
        Envisioned by <a href="http://futurice.com">Futurice</a></p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="https://vimeo.com/154193491" class="button fit fancybox-media" style="width: 270px;">Watch Video</a></li>
            </ul>
        </footer>

    </div>

</section>