<!-- Footer -->
<footer id="footer">

    <ul class="icons">
        <li><a href="https://twitter.com/futurice" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/futurice" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="https://plus.google.com/101258987957561077404" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
        <li><a href="https://github.com/futurice" class="icon circle fa-github"><span class="label">Github</span></a></li>
    </ul>

    <ul class="copyright">
        <li>&copy; Futurice 2015</li>
    </ul>

</footer>