<!-- Footer -->
<footer id="footer">
	
	<h1>Connect with <strong>us</strong></h1>

    <ul class="icons">
        <li><a href="https://twitter.com/futurice" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/futurice" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="https://plus.google.com/101258987957561077404" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
        <li><a href="https://github.com/futurice" class="icon circle fa-github"><span class="label">Github</span></a></li>
    </ul>

	<h2>Ready to <strong>contribute</strong>?</h2>
	<p>Contribute with code, feedback and ideas to the project on Github</p>

    <ul class="buttons vertical">
        <li><a href="https://github.com/futurice/vor" class="button fit scrolly" style="width: 270px;">Github</a></li>
    </ul>

    <ul class="copyright">
        <li>&copy; Futurice 2016</li>
    </ul>

</footer>