<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.futurice.vor"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>

    <application
        android:name=".VorApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:allowBackup">
        <activity android:name="net.hockeyapp.android.UpdateActivity"/>
        <activity
            android:name="com.futurice.vor.activity.OnboardingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.futurice.vor.activity.DrawerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity android:name="com.futurice.vor.activity.ImageViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.futurice.vor.activity.DrawerActivity"/>
        </activity>
        <activity
            android:name="com.futurice.vor.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.futurice.vor.activity.ToiletActivity"
            android:label="@string/title_activity_toilet"
            android:parentActivityName="com.futurice.vor.activity.DrawerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.futurice.vor.activity.DrawerActivity"/>
        </activity>
        <activity
            android:name="com.futurice.vor.activity.SpaceActivity"
            android:label="@string/title_activity_space"
            android:parentActivityName="com.futurice.vor.activity.DrawerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.futurice.vor.activity.DrawerActivity"/>
        </activity>
        <activity
            android:name="com.futurice.vor.activity.CardsActivity"
            android:label="@string/title_activity_cards"
            android:parentActivityName="com.futurice.vor.activity.DrawerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.futurice.vor.activity.DrawerActivity"/>
        </activity>

        <service android:name="com.futurice.vor.services.LocationService">
        </service>

        <receiver android:name="com.futurice.vor.services.WifiBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.futurice.vor.activity.PeopleMapActivity"
            android:label="@string/title_activity_people_map"
            android:parentActivityName="com.futurice.vor.activity.DrawerActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.futurice.vor.activity.DrawerActivity"/>
        </activity>
    </application>

</manifest>
