<div class="row">
  <div class="col-md-4">
    <form class="form" id="location-form">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">User</span>
          <input id="location-user"
                 type="text"
                 class="form-control"
                 placeholder="User email or name or avatar">
        </div>
        <div class="input-group">
          <span class="input-group-addon">Floor</span>
          <input id="location-floor"
                 type="number"
                 class="form-control"
                 placeholder="Default 8"
                 value=8>
        </div>
        <div class="input-group">
          <span class="input-group-addon">Beacon 1</span>
          <input class="form-control new-distance"
                 data-id="futu-b001i-6495-40639"
                 type="number"
                 placeholder="Distance meters">
        </div>
        <div class="input-group">
          <span class="input-group-addon">Beacon 2</span>
          <input class="form-control new-distance"
                 data-id="futu-b001m-10985-41879"
                 type="number"
                 placeholder="Distance meters">
        </div>
        <div class="input-group">
          <span class="input-group-addon">Beacon 3</span>
          <input class="form-control new-distance"
                 data-id="futu-b001b-9348-31980"
                 type="number"
                 placeholder="Distance meters">
        </div>
      </div>
      <button id="send-location" class="btn btn-primary" type="submit">Send data of beacons</button>
    </form>
  </div>
  <div class="col-md-4">
    <% include response-holder.ejs %>
  </div>
</div>
<script>
  (function ($, FUTU2) {
    var $responseHolder = $('#<%= responseType%>-holder');

    var utils = FUTU2.utils;
    var socket = FUTU2.getSocket();

    $('#send-location').on('click', function (event) {
      event.preventDefault();
      var user = $('#location-user').val();
      var floor = $('#location-floor').val();
      var $distances = $('.new-distance');
      var beacons = [];

      $distances.each(function (i, el) {
        var id = $(el).data('id');
        var val = $(el).val();

        beacons.push({
          id: id,
          floor: parseInt(floor, 10),
          distance: val === "" ? 0 : parseFloat(val)
        });
      });

      var data = {
        type: 'beacon',
        email: user,
        beacons: beacons
      };
      socket.emit('message', data);

    });

    socket.on('message', function (message) {
      if(message.type === 'location') {
        utils.renderJson($responseHolder, message);
      }
    });
  })(jQuery, window.FUTU2);
</script>
