<div id="<%= responseType %>-holder" class="json-response">
  <h4>No <%= responseType %> response</h4>
  <small>Make a request to view response format.</small><br/>
  <%if (responseType !== 'location') { %>
    <small>
      <span class="label label-warning">NOTICE !</span>
      There is a buffer for this stream, so at worst response might take seconds to complete.
    </small>
  <% } %>
</div>
