/*
    Do not push this file to version control repository!

    Rename a local copy this file to "env.h".

    Define your variables (e.g. Wi-Fi credentials for LinkIt ONE board and
    Arduino Wi-Fi shields) here.

    Use the defined variables in your code by putting the file "env.h" in the same
    directory and including it in the code:

    #include "env.h"
*/

#ifndef ENV_H
#define ENV_H

#define WIFI_SSID "your_wifi_ssid"
#define WIFI_PASSWORD "your_wifi_password"

#define MAX_ANALOG_VALUE 1023.0
#define MAX_VOLTS 5.0

#endif
