/*
    Do not push this file to version control repository!

    Rename a local copy this file to "env.h".

    Define your variables (e.g. Wi-Fi credentials for LinkIt ONE board and
    Arduino Wi-Fi shields) here.

    Use the defined variables in your code by putting the file "env.h" in the same
    directory and including it in the code:

    #include "env.h"
*/

#ifndef VOR_ENV_H
#define VOR_ENV_H

#define WIFI_SSID "your_wifi_ssid"
#define WIFI_PASSWORD "your_wifi_password"

#define SERVER_URL "your.server.url"
#define SERVER_PORT 80
#define SERVER_PATH "/your/server/path"

#define CLIENT_TIMEOUT 10000
#define CLIENT_DELAY 500
#define CLIENT_USERAGENT = "yunmini"

#define MAX_ANALOG_OUTPUT_VALUE 255
#define MAX_ANALOG_INPUT_VALUE 1023.0
#define MAX_VOLTS 5.0

#endif
